<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
        <input type="reset" value="Reset">
    </form>

    <!-- show num in jinja if present -->
    {% if num %}
        <p>{{ num }}</p>
    {% endif %}
    <!-- jinja flashed messages -->
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-{{ message.type }}">
                {{ message.message }}
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>